body{
  background-color: #393939;
  font-size: 30px;
}


form{
  margin-left: 50px;
  font-size: 18px;
}

p{
  background: #393939;
  color: #ec7f37;
  font-size: 20px;
}

.btnAdd {
  background: #FF5A09;
  color: #393939;
  font-size: 20px;
  margin: 10px 10px;
}

.btnRemove {
  background: #FF5A09;
  color: #393939;
  font-size: 20px;
  margin: 10px 10px;
}

ul{
  margin: 15px;
}

h1{
  color: #FF5A09;
}

